*{
  margin: 0;
  padding: 0;
}

.sidecontainer{
  width: 23%;
  height: 84.9vh;
  /* background: rgb(119, 168, 63); */
  background-color: aqua;
  position: fixed;
}

.insidecont{

  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.sidetag{
  padding:10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sidetag:hover{
  background-color: bisque;
}

.sidefooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
}
